@model UserCollectionModel

@{
    string CSHTML = "_UserCollection.cshtml";

    string query = "";
}

<div id="Collection_User">
    @(Html.EJ().Grid<User>("Grid_User")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "User"))
        //)
        .Query(query)
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_User")
            .ActionFailure("actionFailure_Grid_User")
            .Load("load_Grid_User")
            .ToolbarClick("toolbarClick_Grid_User")
        )
        .Columns(column =>
        {
            column.Field("Id")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertyId)
                .IsPrimaryKey(true)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("Id")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("Id")) // !?!
                .Add();
            column.Field("Email")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertyEmail)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("Email")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("Email")) // !?!
                .Add();
            column.Field("EmailConfirmed")
                .Type("boolean")
                .EditType(EditingType.BooleanEdit)
                .HeaderText(UserResources.PropertyEmailConfirmed)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("EmailConfirmed")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("EmailConfirmed")) // !?!
                .Add();
            column.Field("PasswordHash")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertyPasswordHash)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("PasswordHash")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("PasswordHash")) // !?!
                .Add();
            column.Field("SecurityStamp")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertySecurityStamp)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("SecurityStamp")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("SecurityStamp")) // !?!
                .Add();
            column.Field("PhoneNumber")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertyPhoneNumber)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("PhoneNumber")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("PhoneNumber")) // !?!
                .Add();
            column.Field("PhoneNumberConfirmed")
                .Type("boolean")
                .EditType(EditingType.BooleanEdit)
                .HeaderText(UserResources.PropertyPhoneNumberConfirmed)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("PhoneNumberConfirmed")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("PhoneNumberConfirmed")) // !?!
                .Add();
            column.Field("TwoFactorEnabled")
                .Type("boolean")
                .EditType(EditingType.BooleanEdit)
                .HeaderText(UserResources.PropertyTwoFactorEnabled)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("TwoFactorEnabled")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("TwoFactorEnabled")) // !?!
                .Add();
            column.Field("LockoutEndDateUtc")
                .Type("datetime")
                .EditType(EditingType.DateTimePicker)
                .Format(SyncfusionPatternResources.GridFormat_DateTime)
                .HeaderText(UserResources.PropertyLockoutEndDateUtc)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("LockoutEndDateUtc")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("LockoutEndDateUtc")) // !?!
                .Add();
            column.Field("LockoutEnabled")
                .Type("boolean")
                .EditType(EditingType.BooleanEdit)
                .HeaderText(UserResources.PropertyLockoutEnabled)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("LockoutEnabled")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("LockoutEnabled")) // !?!
                .Add();
            column.Field("AccessFailedCount")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(UserResources.PropertyAccessFailedCount)
                .TextAlign(TextAlign.Right)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("AccessFailedCount")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("AccessFailedCount")) // !?!
                .Add();
            column.Field("UserName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(UserResources.PropertyUserName)
                .Visible(EasyLOB.Identity.Data.User.Profile.IsGridVisibleFor("UserName")) // !?!
                .Width(EasyLOB.Identity.Data.User.Profile.GridWidthFor("UserName")) //  !?!
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .IsResponsive()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        .Mappers(map => map
            .ExportToExcelAction(Url.Content("~/User/ExportToExcel"))
            .ExportToPdfAction(Url.Content("~/User/ExportToPdf"))
            .ExportToWordAction(Url.Content("~/User/ExportToWord"))
        )
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_User_Toolbar" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.PdfExport);
                items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_User_Toolbar">
    <div id="Grid_User_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
    <div id="Grid_User_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            ej.widget.init($("#Collection_User"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(EasyLOB.Identity.Data.User.Profile)); // !?!

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "User")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_User(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "searching":
                        // Search
                        zSearchDictionaryWrite("User", args.keyValue);
                        break;
                    case "add":
                        // Create
                        if (model.ActivityOperations.IsCreate) {
                            $("#ZAjax").load("@(Url.Action("Create", "User", null, Request.Url.Scheme))" +
                                (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                        break;
                    case "read":
                        // Read
                        if (model.ActivityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#ZAjax").load("@(Url.Action("Read", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                    (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.ActivityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#ZAjax").load("@(Url.Action("Update", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                    (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.ActivityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#ZAjax").load("@(Url.Action("Delete", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                    (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_User", exception));
        }            
    }
    
    function actionFailure_Grid_User(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_User", exception));
        }
    }    

    function load_Grid_User(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_User", exception));
        }
    }

    function toolbarClick_Grid_User(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_User");

            if (toolbar.prop("id") == "Grid_User_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_User_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_User(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_User", exception));
        }
    }
</script>
