@model ProductCollectionModel

@{
    string CSHTML = "_ProductCollection.cshtml";

    string query = "";
    if (Model.MasterCategoryId != null)
    {
        query = String.Format("ej.Query().where(\"CategoryId\", ej.FilterOperators.equal, {0})", Model.MasterCategoryId);
    }
    else if (Model.MasterSupplierId != null)
    {
        query = String.Format("ej.Query().where(\"SupplierId\", ej.FilterOperators.equal, {0})", Model.MasterSupplierId);
    }
}

<div id="Collection_Product">
    @(Html.EJ().Grid<Product>("Grid_Product")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Product"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Product")
            .ActionFailure("actionFailure_Grid_Product")
            .Load("load_Grid_Product")
            .ToolbarClick("toolbarClick_Grid_Product")
        )
        .Columns(column =>
        {
            column.Field("ProductId")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertyProductId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("ProductId"))
                .Width(Product.Profile.GridWidthFor("ProductId"))
                .Add();
            column.Field("ProductName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(ProductResources.PropertyProductName)
                .Visible(Product.Profile.IsGridVisibleFor("ProductName"))
                .Width(Product.Profile.GridWidthFor("ProductName"))
                .Add();
            column.Field("SupplierId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertySupplierId)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("SupplierId"))
                .Width(Product.Profile.GridWidthFor("SupplierId"))
                .Add();
            column.Field("SupplierLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(SupplierResources.EntitySingular)
                .Visible(Product.Profile.IsGridVisibleFor("SupplierLookupText"))
                .Width(Product.Profile.GridWidthFor("SupplierLookupText"))
                .Add();
            column.Field("CategoryId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertyCategoryId)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("CategoryId"))
                .Width(Product.Profile.GridWidthFor("CategoryId"))
                .Add();
            column.Field("CategoryLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(CategoryResources.EntitySingular)
                .Visible(Product.Profile.IsGridVisibleFor("CategoryLookupText"))
                .Width(Product.Profile.GridWidthFor("CategoryLookupText"))
                .Add();
            column.Field("QuantityPerUnit")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(ProductResources.PropertyQuantityPerUnit)
                .Visible(Product.Profile.IsGridVisibleFor("QuantityPerUnit"))
                .Width(Product.Profile.GridWidthFor("QuantityPerUnit"))
                .Add();
            column.Field("UnitPrice")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Float)
                .HeaderText(ProductResources.PropertyUnitPrice)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("UnitPrice"))
                .Width(Product.Profile.GridWidthFor("UnitPrice"))
                .Add();
            column.Field("UnitsInStock")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertyUnitsInStock)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("UnitsInStock"))
                .Width(Product.Profile.GridWidthFor("UnitsInStock"))
                .Add();
            column.Field("UnitsOnOrder")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertyUnitsOnOrder)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("UnitsOnOrder"))
                .Width(Product.Profile.GridWidthFor("UnitsOnOrder"))
                .Add();
            column.Field("ReorderLevel")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ProductResources.PropertyReorderLevel)
                .TextAlign(TextAlign.Right)
                .Visible(Product.Profile.IsGridVisibleFor("ReorderLevel"))
                .Width(Product.Profile.GridWidthFor("ReorderLevel"))
                .Add();
            column.Field("Discontinued")
                .Type("boolean")
                .EditType(EditingType.BooleanEdit)
                .HeaderText(ProductResources.PropertyDiscontinued)
                .Visible(Product.Profile.IsGridVisibleFor("Discontinued"))
                .Width(Product.Profile.GridWidthFor("Discontinued"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .IsResponsive()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/Product/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/Product/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/Product/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Product_Toolbar" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Product_Toolbar">
    <div id="Grid_Product_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
    <div id="Grid_Product_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            ej.widget.init($("#Collection_Product"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(Product.Profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "Product")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Product(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Category
            if (model.MasterCategoryId != null) {
                url = url + (url == "" ? "" : "&") + "MasterCategoryId=" + String(model.MasterCategoryId);
            }
            // Supplier
            if (model.MasterSupplierId != null) {
                url = url + (url == "" ? "" : "&") + "MasterSupplierId=" + String(model.MasterSupplierId);
            }

            var isSearch = !model.IsMasterDetail;
            var isCreate = masterControllerAction == "" || masterControllerAction == "update";
            var isRead = masterControllerAction == "" || masterControllerAction == "read" || masterControllerAction == "update" || masterControllerAction == "delete";
            var isUpdate = masterControllerAction == "" || masterControllerAction == "update";
            var isDelete = masterControllerAction == "" || masterControllerAction == "update" || masterControllerAction == "delete";
            switch(args.requestType) {
                case "searching":
                    // Search
                    if (isSearch) {
                        zSearchDictionaryWrite("Product", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Product", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Product", null, Request.Url.Scheme))?ProductId=" + String(data.ProductId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Product", null, Request.Url.Scheme))?ProductId=" + String(data.ProductId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Product", null, Request.Url.Scheme))?ProductId=" + String(data.ProductId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Product", exception));
        }            
    }
    
    function actionFailure_Grid_Product(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Product", exception));
        }
    }    

    function load_Grid_Product(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Product", exception));
        }
    }

    function toolbarClick_Grid_Product(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = $("#Grid_Product").data("ejGrid");

            if (toolbar.prop("id") == "Grid_Product_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_Product_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Product(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Product", exception));
        }
    }
</script>
