@model ShipperCollectionModel

@{
    string CSHTML = "_ShipperCollection.cshtml";

    string query = "";
}

<div id="Collection_Shipper">
    @(Html.EJ().Grid<Shipper>("Grid_Shipper")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Shipper"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Shipper")
            .ActionFailure("actionFailure_Grid_Shipper")
            .Load("load_Grid_Shipper")
            .ToolbarClick("toolbarClick_Grid_Shipper")
        )
        .Columns(column =>
        {
            column.Field("ShipperId")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(ShipperResources.PropertyShipperId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(Shipper.Profile.IsGridVisibleFor("ShipperId"))
                .Width(Shipper.Profile.GridWidthFor("ShipperId"))
                .Add();
            column.Field("CompanyName")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(ShipperResources.PropertyCompanyName)
                .Visible(Shipper.Profile.IsGridVisibleFor("CompanyName"))
                .Width(Shipper.Profile.GridWidthFor("CompanyName"))
                .Add();
            column.Field("Phone")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(ShipperResources.PropertyPhone)
                .Visible(Shipper.Profile.IsGridVisibleFor("Phone"))
                .Width(Shipper.Profile.GridWidthFor("Phone"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .IsResponsive()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/Shipper/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/Shipper/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/Shipper/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Shipper_Toolbar" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Shipper_Toolbar">
    <div id="Grid_Shipper_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
    <div id="Grid_Shipper_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            ej.widget.init($("#Collection_Shipper"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(Shipper.Profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "Shipper")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Shipper(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";

            var isSearch = !model.IsMasterDetail;
            var isCreate = masterControllerAction == "" || masterControllerAction == "update";
            var isRead = masterControllerAction == "" || masterControllerAction == "read" || masterControllerAction == "update" || masterControllerAction == "delete";
            var isUpdate = masterControllerAction == "" || masterControllerAction == "update";
            var isDelete = masterControllerAction == "" || masterControllerAction == "update" || masterControllerAction == "delete";
            switch(args.requestType) {
                case "searching":
                    // Search
                    if (isSearch) {
                        zSearchDictionaryWrite("Shipper", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Shipper", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Shipper", null, Request.Url.Scheme))?ShipperId=" + String(data.ShipperId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Shipper", null, Request.Url.Scheme))?ShipperId=" + String(data.ShipperId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Shipper", null, Request.Url.Scheme))?ShipperId=" + String(data.ShipperId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Shipper", exception));
        }            
    }
    
    function actionFailure_Grid_Shipper(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Shipper", exception));
        }
    }    

    function load_Grid_Shipper(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Shipper", exception));
        }
    }

    function toolbarClick_Grid_Shipper(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = $("#Grid_Shipper").data("ejGrid");

            if (toolbar.prop("id") == "Grid_Shipper_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_Shipper_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Shipper(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Shipper", exception));
        }
    }
</script>
