@model RoleCollectionModel

@{
    string CSHTML = "_RoleCollection.cshtml";

    string query = "";
}

<div id="Collection_Role">
    @(Html.EJ().Grid<Role>("Grid_Role")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Role"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Role")
            .ActionFailure("actionFailure_Grid_Role")
            .Load("load_Grid_Role")
            .ToolbarClick("toolbarClick_Grid_Role")
        )
        .Columns(column =>
        {
            column.Field("Id")
                .EditType(EditingType.String)
                .HeaderText(RoleResources.PropertyId)
                .IsPrimaryKey(true)
                .Visible(Role.DataProfile.IsGridVisibleFor("Id"))
                .Width(Role.DataProfile.GridWidthFor("Id"))
                .Add();
            column.Field("Name")
                .EditType(EditingType.String)
                .HeaderText(RoleResources.PropertyName)
                .Visible(Role.DataProfile.IsGridVisibleFor("Name"))
                .Width(Role.DataProfile.GridWidthFor("Name"))
                .Add();
            column.Field("Discriminator")
                .EditType(EditingType.String)
                .HeaderText(RoleResources.PropertyDiscriminator)
                .Visible(Role.DataProfile.IsGridVisibleFor("Discriminator"))
                .Width(Role.DataProfile.GridWidthFor("Discriminator"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .IsResponsive()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        .Mappers(map => map
            .ExportToExcelAction(Url.Content("~/Role/ExportToExcel"))
            .ExportToPdfAction(Url.Content("~/Role/ExportToPdf"))
            .ExportToWordAction(Url.Content("~/Role/ExportToWord"))
        )
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Role_Toolbar" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.PdfExport);
                items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Role_Toolbar">
    <div id="Grid_Role_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
    <div id="Grid_Role_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            ej.widget.init($("#Collection_Role"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var dataProfile = @Html.Raw(JsonConvert.SerializeObject(Role.DataProfile));

            zOnCollectionView(model, dataProfile, "@Url.Action("DataSource", "Role")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Role(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";

            var isSearch = !model.IsMasterDetail;
            var isCreate = masterControllerAction == "" || masterControllerAction == "update";
            var isRead = masterControllerAction == "" || masterControllerAction == "read" || masterControllerAction == "update" || masterControllerAction == "delete";
            var isUpdate = masterControllerAction == "" || masterControllerAction == "update";
            var isDelete = masterControllerAction == "" || masterControllerAction == "update" || masterControllerAction == "delete";
            switch(args.requestType) {
                case "searching":
                    // Search
                    if (isSearch) {
                        zSearchDictionaryWrite("Role", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Role", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Role", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Role", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Role", null, Request.Url.Scheme))?Id=" + String(data.Id) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Role", exception));
        }            
    }
    
    function actionFailure_Grid_Role(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Role", exception));
        }
    }    

    function load_Grid_Role(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Role", exception));
        }
    }

    function toolbarClick_Grid_Role(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("Grid_Role");

            if (toolbar.prop("id") == "Grid_Role_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_Role_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Role(args)
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Role", exception));
        }
    }
</script>
